terraform/sf.json
{
  "Comment": "Step function that controls json pipeline execution",
  "StartAt": "GenerateJson",
  "States": {
    "InitiateS3Load": {
      "Type": "Task",
      "Resource": "arn:aws:states:::s3:batchJob",
      "Parameters": {
        "JobDefinition": "arn:aws:batch:<region>:<account-id>:job-definition/<job-definition-name>:<revision>",
        "JobName": "<job-name>",
        "JobQueue": "arn:aws:batch:<region>:<account-id>:job-queue/<job-queue-name>",
        "InvocationSchemaVersion": "v1.0"
      },
      "Next": "GenerateJson"
    },
    "GenerateJson": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${generator_arn}"
      },
      "Next": "CompareJson"
    },
    "CompareJson": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${comparator_arn}"
      },
      "Next": "WriteS3"
    },
    "WriteS3": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:s3:putObject",
      "Parameters": {
        "Bucket": "${result_bucket}",
        "Key.$": "$.filename",
        "Body.$": "$.Payload"
      },
      "End": true
    }
  }
}