terraform/sf.json
{
  "Comment": "Step function that controls json pipeline execution",
  "StartAt": "TriggerBatchLoad",
  "States": {
    "GenerateJson": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${generator_arn}"
      },
      "Next": "WriteS3"
    },
    "CompareJson": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${comparator_arn}"
      },
      "Next": "WriteS3"
    },
    "WriteS3": {
      "Type": "Task",
      "Resource": "arn:aws:states:::s3:PutObject",
      "Parameters": {
        "Bucket": "${result_bucket}",
        "Key.$": "$.filename",
        "Body.$": "$.Payload"
      },
      "End": true
    }
  }
}